# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac/Windows OS files
.DS_Store
Thumbs.db

# Model checkpoints, logs
*.h5
*.ckpt
*.tflite
logs/

# Data (optional: if not pushing large data)
data/

