# Ignore raw and generated datasets
anime_dataset/
anime_dataset_raw/

# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter and editor junk
.ipynb_checkpoints/
.vscode/

# OS junk files
.DS_Store
Thumbs.db
